html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background: #f0f0f4;
}

input, button, textarea {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    padding: 3px;
}
button{
    cursor: pointer;
}

 ul, li{
    list-style: none;
    margin: 0;
    padding: 0;
}




.container-menu nav {
    background: blue;
    padding: 20px;
    color: white;
}

.container-menu nav ul {
    display: flex;
    justify-content: center;
}


.container-menu nav ul li a {
    color: white;
    padding: 20px;
    text-decoration: none;
}

.container-menu nav ul li a:hover{
    background: black;
}
